.product {
  height: auto;
  background-color: white;
  position: relative;
}

.product::before {
  height: 100%;
  width: 1440px;
  left: -150px;
  z-index: -1;
  content: "";
  background-color: white;
  position: absolute; 
}